<% layout('/layouts/default.html', {title: '数据管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-body">
			<#form:form id="searchForm" action="${ctx}/auth/idAuthListData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<img id="appendImage"  src="" alt="">
		</div>
	</div>
</div>

<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	columnModel: [
		{header:'${text("kid")}', name:'kid', width:100, align:"center", hidden:true},
        {header:'${text("昵称")}', name:'nickname', width:100, align:"center"},
        {header:'${text("身份证正面图像")}', name:'idcardFrontImage', width:100, align:"center",formatter: function (val, obj, row, act) {
				return '<image src="'+val+'" style="border-radius: 50%;width: 50px;height: 50px;" onclick="showImage(\''+val+'\')"></image>'
            }},
        {header:'${text("身份证反面图像")}', name:'idcardBackImage', width:100, align:"center",formatter: function (val, obj, row, act) {
                return '<image src="'+val+'" style="border-radius: 50%;width: 50px;height: 50px;" onclick="showImage(\''+val+'\')"></image>'
            }},
        {header:'${text("操作")}', name:'actions', width:50, align:"center", sortable:false, title:false, formatter: function(val, obj, row, act){
                return "<a href='javascript:void(0);' onclick='audit(\""+row.kid+"\",\"pass\");' title='${text('认证通过')}'><i class='fa fa-check'></i></a>" +"&nbsp;"
                    + "<a href='javascript:void(0);' onclick='audit(\""+row.kid+"\",\"failed\");' title='${text('认证不通过')}'><i class='fa fa-close'></i></a>";
        }}
	],
});


function showImage(imageSrc) {
    $("#myModal").modal("show");
    $("#appendImage").attr("src",imageSrc);
}


function audit(kid,val) {
    if(val == "pass"){
        js.confirm("确定审核通过吗?",function () {
            update(kid,30);
        });
	}else if(val == "failed"){
        js.confirm("确定审核不通过吗?",function () {
            update(kid,40);
        });
	}

}


function update(kid,authStatu){
    $.ajax({
        url : "${ctx}/auth/auditIdAuth",
        //url : apiHost + "/user/baseInfo/auditIdAuth",
        //contentType : "application/json;charset=UTF-8",
        data : {
            kid : kid,
            idAuth : authStatu
        },
        type : "post",
        async : false,
        dataType : "json",
        success : function(data) {
            js.showMessage(data.message);
            $('#dataGrid').dataGrid('reloadGrid');
        },
		error : function(){
            js.showMessage("操作失败！");
		}
    });
}
</script>