<% layout('/layouts/default.html', {title: '服务管理', libs: ['validate','dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${appIn}" action="${ctx}/app/create" method="post" class="form-horizontal">
			<#form:input path="kid" maxlength="200" style="display: none" id="hasKid"/>
			<div class="box-body">

				<div class="form-unit">${text('添加服务')}</div>
				<div class="row">
					<div class="col-xs-6 col-md-offset-2">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('服务中文名称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="name" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6 col-md-offset-2">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('服务名')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="appName" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6 col-md-offset-2">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('服务序号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="appSort" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6 col-md-offset-2">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('启动命令')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:textarea path="appStart" rows="4" maxlength="300" class="form-control"/>
							</div>
						</div>
					</div>
				</div>

				<!--<div class="row">-->
					<!--<div class="col-xs-6 col-md-offset-2">-->
						<!--<div class="form-group">-->
							<!--<label class="control-label col-sm-4" title="">-->
								<!--<span class="required hide">*</span> ${text('投资意向')}：<i class="fa icon-question hide"></i></label>-->
							<!--<div class="col-sm-8">-->
								<!--<#form:textarea path="investorIntention" rows="4" maxlength="200" class="form-control"/>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->

			<div class="box-footer">
				<div class="row" align="center">
					<div class="col-sm-12">
						<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class='fa fa-check'></i>${text('保 存')}</button>&nbsp;
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
    submitHandler: function(form){
        js.ajaxSubmitForm($(form), function(data){
            console.log("-----------")
            js.showMessage(data.message);
            if(data.result == Global.TRUE){
                js.closeCurrentTabPage(function(contentWindow){
                    contentWindow.page();
                    // console.log($("#hasKid").attr("path").val());
                });
            }
        }, "json");
    }
});

</script>