<% layout('/layouts/default.html', {title: '服务管理', libs: ['dataGrid']}){ %>

<style>
    .shurukuang{
        margin-top: 10px;
        position: relative;
        border: 1px silver solid;
        height: 120px;
        width:270px;
        display: inline-block;
        padding: 10px 5px;
        border-radius: 15px;
    }
    .biaoti {
        position: absolute;
        top: -20px;
        left: 15px;
        background-color: white;

    }

</style>

<div class="main-content">
    <div class="box box-main">
        <div class="box-header">
            <div style="clear: both;overflow: hidden">
                <div class="box-title" >
                    <i class="fa fa-list-alt"></i> ${text('服务管理')}
                </div>
            </div>
            <div class="box-tools pull-right">





                <!--跟刷新走同一个接口，有冲突！-->
                <!--<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i>-->
                    <!--${text('查询')}</a>-->
                <% if(hasPermi('line:edit')){ %>
                <a href="${ctx}/app/form" class="btn btn-default btnTool" title="${text('新增服务')}"><i
                        class="fa fa-plus"></i> ${text('新增')}</a>
                <a href="javascript:void(0);" onclick="execAll(1)" title="${text('一键开启')}"><i class="fa fa-play">${text('一键开启')}</i></a>
                <a href="javascript:void(0);" onclick="execAll(2)" title="${text('一键开启')}"><i class="fa fa-stop-circle">${text('一键关闭')}</i></a>
                <% } %>
            </div>

            <div class="shurukuang">
                <div class="biaoti">CPU</div>
                <label>当前时间 : </label><label id="cpu_currentTime">${systemInfo.cpu != null?systemInfo.cpu.currentTime:""}</label><br>
                <label>运行时间 : </label><label id="cpu_runTime">${systemInfo.cpu.runTime}</label><br>
                <label>系统负载 : </label><label id="cpu_loadAverage1">${systemInfo.cpu.loadAverage1}</label><br>
                <label>进程总数 : </label><label id="cpu_taskTotal">${systemInfo.cpu.taskTotal}</label>
                <label>运行中 : </label><label id="cpu_taskRunning">${systemInfo.cpu.taskRunning}</label>
                <label>等待 : </label><label id="cpu_taskSleeping">${systemInfo.cpu.taskSleeping}</label>

            </div>
            <div class="shurukuang">
                <div class="biaoti">内存</div>
                <!--<label>内存名字 : </label><label id="memory_total">${systemInfo.memory.name}</label>-->
                <label>总大小 : </label><label id="memory_total">${systemInfo.memory.total}M</label><br>
                <label>已使用 : </label><label id="memory_used">${systemInfo.memory.used}M</label><br>
                <label>空闲 : </label><label id="memory_free">${systemInfo.memory.free}M</label><br>
                <label>使用率 : </label><label id="memory_useRate">${systemInfo.memory.useRate}%</label><br>
            </div>
            <div class="shurukuang">
                <div class="biaoti">硬盘</div>
                <!--<label>文件路径 : </label><label>${systemInfo.disk.fileSystem}</label>-->
                <label>硬盘大小 : </label><label id="disk_size">${systemInfo.disk.size}M</label><br>
                <label>已用大小 : </label><label id="disk_used">${systemInfo.disk.used}M</label><br>
                <label>可使用大小 : </label><label id="disk_avail">${systemInfo.disk.avail}M</label><br>
                <label>使用率 : </label><label id="disk_useRate">${systemInfo.disk.useRate}</label><br>
                <!--<label>挂载 : </label><label>${systemInfo.disk.mounted}</label><br><br>-->
            </div>
        </div>
        <div class="box-body">
            <#form:form id="searchForm" model="${appIn}" action="${ctx}/app/listData" method="post"
                class="form-inline hide"
            data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}"
            data-order-by="${parameter.orderBy}">
            <div class="form-group">
                <label class="control-label">${text('服务名称')}：</label>
                <div class="control-inline">
                    <#form:input path="name" maxlength="200" class="form-control width-120"  placeholder="请输入服务名称" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">${text('服务中文名称')}：</label>
                <div class="control-inline">
                    <#form:input path="appName" maxlength="200" class="form-control width-120"  placeholder="请输入服务中文名称')}："/>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label class="control-label">${text('状态')}：</label>-->
                <!--<div class="control-inline width-120">-->
                    <!--<#form:select path="lineStatu" dictType="line_status" blankOption="true" class="form-control"/>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="control-label">${text('每页显示')}：</label>-->
                <!--<div class="control-inline width-60">-->
                    <!--<#form:select path="pageSize" dictType="show_page_number" blankOption="true" class="form-control"/>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <!--<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>-->
                <!--<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>-->
            </div>
        </#form:form>
        <table id="dataGrid">


        </table>
        <div id="dataGridPage"></div>
    </div>
</div>
</div>

<% } %>
<style>
    .ui-jqgrid .actions>a i{
     margin: 0 3px 2px 3px;
 }
</style>
<script>

    console.log($("#searchForm"))
    // 初始化DataGrid对象
        $('#dataGrid').dataGrid({
            searchForm: $("#searchForm"),
            columnModel: [
                {
                    header:'${text("服务中文名称")}',
                    name:'name',
                    width:150,
                    align: "center"
                },
                {
                    header: '${text("服务名称")}',
                    name: 'appName',
                    width: 150,
                    align: "center",
                },
                {
                    header:'${text("服务状态")}',
                    name:'appStatus',
                    width:100,
                    align: "center",
                    formatter: function (val, obj, row, act) {
                        return js.getDictLabel(${@DictUtils.getDictListJson('server_status')}, val, '${text("未知")}', true);
                    }
                },
                {
                    header: '${text("启动命令")}',
                    name: 'appStart',
                    width: 300,
                    align: "center",
                    maxlength : 300
                },
                {
                    header:'${text("操作")}', name:'actions', width:90,  align: "center",sortable:false, title:false, formatter: function(val, obj, row, act){
                        var actions = [];

                        <% if (hasPermi('test:testData:edit')) { %>
                         // actions.push('<a href="${ctx}/app/form?kid='+row.kid+'&appName='+row.appName+'&name='+row.name+'&appStatus='+row.appStatus+'&appStart='+row.appStart+'" class="btnList" title="${text("编辑服务")}"><i class="fa fa-paper-plane"></i></a>&nbsp;');
                            actions.push('<a href="${ctx}/app/queryServ?kid=' + row.kid + '" class="btnList" title="${text("查看详情")}"><i class="fa fa-paper-plane"></i></a>&nbsp;');
                            // actions.push('<a href="${ctx}/app/deleteServ?kid=' + row.kid + '" class="btnList" title="${text("删除服务")}"><i class="fa fa-times"></i></a>&nbsp;');
                        <%  } %>
                        return actions.join('')+
                            "<a href='javascript:void(0);' onclick='deleteServ(\""+row.kid+"\");' title='${text('删除')}'><i class='fa fa-times'></i></a>"+
                            "<a href='javascript:void(0);' onclick='execServ(1,\""+row.appName+"\",\""+row.appStart+"\");' title='${text('启动服务')}'><i class='fa fa-play'></i></a>"+
                            "<a href='javascript:void(0);' onclick='execServ(2,\""+row.appName+"\",\""+row.appStart+"\");' title='${text('关闭服务')}'><i class='fa fa-stop-circle' ></i></a>"+
                            "<a href='javascript:void(0);' onclick='execServ(3,\""+row.appName+"\",\""+row.appStart+"\");' title='${text('重启服务')}'><i class='fa fa-hourglass-start' ></i></a>";

                    }
                }
            ]
            // // 双击表格行时调用
            // ondblClickRow: function (id, rownum, colnum, event) {
            //
            //     console.log(id);
            //     console.log(rownum);
            //     console.log(colnum);
            //     console.log(event);
            //     js.addTabPage(null, '编辑数据', '${ctx}/line/form?lineKid='+row.lineKid+'&userKid='+row.userKid);
            // },
            // // 加载成功后执行事件
            // ajaxSuccess: function (data) {
            //     console.log("--------------")
            // }

        });

    var time = setTimeout(digui, 15000);
    //定时刷新页面
    function digui () {
        $.ajax({
            type : "POST",
            url : "${ctx}/app/listData",
            dataType : "json",
            async : true,
            success : function (result) {
                clearInterval(time);
                time = setInterval(digui, 30000);
                $('#dataGrid').dataGrid('reloadGrid');
            }
        })
    }

    setInterval(function(){updateSystemMonitor();},3000);

    function updateSystemMonitor() {
        $.ajax({
            type: 'GET',
            url: "${ctx}/app/getSystemMonitor",
            dataType: 'json',
            async : false,
            success : function (result) {
                console.log(result)
                if(result.cpu) {
                    document.getElementById("cpu_currentTime").innerHTML = result.cpu.currentTime;
                    document.getElementById("cpu_runTime").innerHTML = result.cpu.runTime;
                    document.getElementById("cpu_loadAverage1").innerHTML = result.cpu.loadAverage1;
                    document.getElementById("cpu_taskTotal").innerHTML = result.cpu.taskTotal;
                    document.getElementById("cpu_taskRunning").innerHTML = result.cpu.taskRunning;
                    document.getElementById("cpu_taskSleeping").innerHTML = result.cpu.taskSleeping;
                }
                if(result.memory) {
                    document.getElementById("memory_total").innerHTML = result.memory.total + "M";
                    document.getElementById("memory_used").innerHTML = result.memory.used + "M";
                    document.getElementById("memory_free").innerHTML = result.memory.free + "M";
                    document.getElementById("memory_useRate").innerHTML = result.memory.useRate + "%";
                }
                if(result.disk) {
                    document.getElementById("disk_size").innerHTML = result.disk.size + "M";
                    document.getElementById("disk_used").innerHTML = result.disk.used + "M";
                    document.getElementById("disk_avail").innerHTML = result.disk.avail + "M";
                    document.getElementById("disk_useRate").innerHTML = result.disk.useRate;
                }
            }
        });
    }

    function deleteServ(kid) {
        clearInterval(time);
        $.ajax({
            type: 'GET',
            url: "${ctx}/app/deleteServ?kid="+kid,
            dataType: 'json',
            async : false,
            success : function (result) {
                if (result.message){
                    js.showMessage(result.message);
                    $('#dataGrid').dataGrid('reloadGrid');
                }
                time = setTimeout(digui, 30000);
            }
        });
    }
    
    function execServ(commandType, appName, appStart) {
        clearInterval(time);
        $.ajax({
            type : 'POST',
            url: "${ctx}/app/exec",
            datatype : 'json',
            async : false,
            data : {
                commandType : commandType,
                appName : appName,
                appStart : appStart
            },
            success: function (result) {
                result = JSON.parse(result);
                if (result.message){
                    js.showMessage(result.message);
                    $('#dataGrid').dataGrid('reloadGrid');
                }
                time = setTimeout(digui, 30000);
            }
        })
    }

    function execAll(command) {
        clearInterval(time);
        $.ajax({
            type : "GET",
            url : "${ctx}/app/execAll?command=" + command,
            dataType : "json",
            async : true,
            success : function (result) {
                if (result.message){
                    js.showMessage(result.message);
                    $('#dataGrid').dataGrid('reloadGrid');
                }
                time = setTimeout(digui, 30000);
            }
        })
    }

</script>