<% layout('/layouts/default.html', {title: '数据管理', libs: ['dataGrid']}){ %>
<div class="main-content">
    <div class="box box-main">
        <div class="box-header">
            <div class="box-title">
                <i class="fa fa-list-alt"></i> ${text('数据管理')}
            </div>
            <div class="box-tools pull-right">
                <a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
            </div>
        </div>
        <div class="box-body">
            <#form:form id="searchForm" action="${ctx}/refundBail/listData" method="post" class="form-inline hide"
                data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
                <div class="form-group">
                    <label class="control-label">${text('退还原因')}：</label>
                    <div class="control-inline" style="width: 200px;">
                        <#form:select path="refundReason" dictType="refund_bail_reason_menu" blankOption="true" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
                    <button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
                </div>
            </#form:form>
        <table id="dataGrid"></table>
        <div id="dataGridPage"></div>
    </div>
</div>


</div>
<% } %>
<script>
    // 初始化DataGrid对象
    $('#dataGrid').dataGrid({
        columnModel: [
            {header:'${text("kid")}', name:'kid', width:100, align:"center", hidden:true},
            {header:'${text("userKid")}', name:'userKid', width:100, align:"center", hidden:true},
            {header:'${text("申请人")}', name:'nickname', width:100, align:"center"},
            {header:'${text("退还原因")}', name:'refundReason', width:100, align:"center", formatter: function (val, obj, row, act) {
                    if(val == 10){
                        return "暂时没有旅游需求";
                    }else if(val == 20){
                        return "目前一直在用其他旅游软件";
                    }else if(val == 30){
                        return "导游不靠谱";
                    }else if(val == 40){
                        return "路线太少，没有自己想要的";
                    }else if(val == 50){
                        return "体验不好";
                    }else if(val == 60){
                        return "其他";
                    }
                }},
            {header:'${text("退还说明")}', name:'refundExplain', width:100, align:"center", formatter: function (val, obj, row, act) {
                    if(val.length > 10){
                        return "<span title='" + val + "'>" + val.substring(0,10) + "...</span>";
                    }else{
                        return "<span title='" + val + "'>" + val + "</span>";
                    }
                }},
            {header:'${text("申请时间")}', name:'applyTime', width:100, align:"center"}
        ],
    });

</script>