<% layout('/layouts/default.html', {title: '配置中心', libs: ['validate','dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${addConfigVo}" action="${ctx}/configCenter/configData/add" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('添加配置')}</div>

				<div class="row" align="center">
					<div class="col-xs-6 col-md-offset-2">
						<div class="form-group">
							<label class="control-label col-sm-4 " title="">
								<span class="required hide">*</span> ${text('配置key')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="configKey" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6 col-md-offset-2">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('配置名称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="configName" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6 col-md-offset-2">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('配置值')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="configValue" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-md-offset-2">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('配置描述')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:textarea path="configRemarks" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-md-offset-2">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('配置人')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="operationName" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
			<div class="box-footer">
				<div class="row" align="center">
					<div class="col-sm-12">
						<% if (hasPermi('test:testData:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('添 加')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>