<% layout('/layouts/default.html', {title: '审核路线', libs: ['dataGrid']}){ %>
<div class="main-content">
    <div class="box box-main">
        <div class="box-header">
            <div class="box-title">
                <i class="fa fa-list-alt"></i> ${text('审核路线')}
            </div>
            <div class="box-tools pull-right">
                <a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i>
                    ${text('查询')}</a>
            </div>
        </div>
        <div class="box-body">
            <#form:form id="searchForm" model="${line}" action="${ctx}/line/listData?lineStatu=10" method="post"
            class="form-inline hide"
            data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}"
            data-order-by="${parameter.orderBy}">
            <#form:select path="pageSize" dictType="show_page_number" blankOption="true" class="form-control" class="form-inline hide"/>
        </#form:form>
        <button type="submit" class="btn btn-sm btn-primary" id="batchesLine"><i class="fa fa-check"></i>
            ${text('批量上线')}
        </button>&nbsp;
        <table id="dataGrid">

        </table>
        <div id="dataGridPage"></div>
    </div>
</div>

</div>
<% } %>
<script>

    Array.prototype.indexOf = function(val) {
        for (var i = 0; i < this.length; i++) {
            if (this[i] == val) return i;
        }
        return -1;
    };

    Array.prototype.remove = function(val) {
        var index = this.indexOf(val);
        if (index > -1) {
            this.splice(index, 1);
        }
    };
    var lineKids = []; // 全选

    // 初始化DataGrid对象
    $('#dataGrid').dataGrid({
        searchForm: $("#searchForm"),
        columnModel: [
            {
                header:'${text("编号")}',
                name:'lineKid',
                width:150,
                align: "center"
            },
            {
                header:'${text("用户编号")}',
                name:'userKid',
                width:150,
                align: "center"
            },
            {
                header: '${text("路线主题")}',
                name: 'lineTitle',
                width: 150,
                align: "center"
            },
            {
                header: '${text("导游姓名")}',
                name: 'realName',
                width: 150,
                align: "center"
            },
            {
                header: '${text("缩略图")}',
                name: 'homePics',
                width: 150,
                align: "center",
                formatter: function (val, obj, row, act) {
                    return '<image src="'+val[0]+'" style="border-radius: 50%;width: 50px;height: 50px;"></image>'
                }
            },
            {
                header: '${text("价格")}',
                name: 'tripPrice',
                width: 150,
                align: "center"
            },
            {
                header: '${text("未完成的订单")}',
                name: 'inCompleteOrder',
                width: 120,
                align: "center"
            },
            {
                header: '${text("状态")}',
                name: 'status',
                width: 90,
                align: "center",
                formatter: function (val, obj, row, act) {
                    return js.getDictLabel(${@DictUtils.getDictListJson('line_status')}, val, "未知", true);
                }
            },
            {
                header: '${text("备注")}',
                name: 'remarks',
                width: 150,
                align: "center",
                hidden: false,
                formatter: function (val, obj, row, act) {
                    return "<input type='hidden' id='"+row.lineKid+"' placeholder='驳回时填写!' />";
                }
            },
            {
                header:'${text("操作")}', name:'actions', width:90,  align: "center",sortable:false, title:false, formatter: function(val, obj, row, act){

                    if (row.status == 10){
                        return "<a href='javascript:void(0);' onclick='agreeLine(\""+row.lineKid+"\");' title='${text('上线')}'><i class='fa fa-pencil'></i></a>" +"&nbsp;"
                            + "<a href='javascript:void(0);' onclick='refuseLine(\""+row.lineKid+"\");' title='${text('驳回')}'><i class='fa fa-pencil'></i></a>"  +"&nbsp;"
                            + "<a href='${ctx}/line/form?lineKid="+row.lineKid+"&userKid="+row.userKid+"' class='btnList' title='${text('查看')}' ><i class='glyphicon glyphicon-ok-circle'></i></a>&nbsp;"
                    }
                }}
        ],
        showCheckbox: true,
        onSelectRow: function (id, isSelect) {
            var rowData = $("#dataGrid").jqGrid('getRowData',id);
            var lineKid = rowData.lineKid;
            if (isSelect){
                lineKids.push(lineKid);
            }else {
                lineKids.remove(lineKid);
            }
        },
        onSelectAll:function(rows, isSelect) {
            if (isSelect){
                lineKids = [];
                for (let i = 0; i < rows.length; i++) {
                    var rowData = $("#dataGrid").jqGrid('getRowData',rows[i]);
                    lineKids.push(rowData.lineKid);
                }
            }else {
                lineKids = [];
            }
        },
        // 加载成功后执行事件
        ajaxSuccess: function (data) {
        }
    });


    $("#batchesLine").click(function () {

        var lineKid = '';
        for (let i = 0; i < lineKids.length; i++) {
            lineKid += lineKids[i] + ',';
        }
        lineKid = lineKid.substring(0,lineKid.length-1);

        auditLine(lineKid, 20, '');
    });

    function auditLine(lineKid, lineStatus, remarks) {

        $.ajax({
            type: 'POST',
            url: "${ctx}/line/update",
            dataType: 'json',
            async : false,
            data: {
                lineKid : lineKid,
                lineStatus : lineStatus,
                remarks : remarks
            },
            success: function (result) {
                js.showMessage(result.message);
                $('#dataGrid').dataGrid('reloadGrid');
            }

        });
    }

    function agreeLine(lineKid) {

        js.confirm("确定上线该路线吗?",function () {
            auditLine(lineKid, 20, '');
        });
    }

    function refuseLine(lineKid) {

        $("#"+lineKid).attr('type','text');

        var remarks = $("#"+lineKid).val();
        if (remarks == null || remarks == '' || remarks == undefined){
            js.confirm("驳回路线请填写备注原因!", function () {
                console.log("");
            });
        }else {
            js.confirm("确定驳回该路线吗?",function () {
                auditLine(lineKid, 40, remarks)
            });
        }
    }

</script>