<% layout('/layouts/default.html', {title: '路线管理', libs: ['validate','fileupload','dataGrid']}){ %>
<div class="container-fluid">

    <#form:form id="searchForm" model="${lineInfo}">
    <div class="row" style="border-bottom:2px #F0F0F2 solid">
        <h3 style="color: #666666;margin-left: 15px">路线管理</h3>
        <% if(lineInfo.lineStatu == 10){%>
        <h3 style="margin:20px 10px">审核中</h3>
        <%} else if(lineInfo.lineStatu == 20){%>
        <h3 style="margin:20px 10px">进行中</h3>
        <%} else if(lineInfo.lineStatu == 30){%>
        <h3 style="margin:20px 10px">已失效</h3>
        <%}%>

    </div>
    <div class="row" style="border-bottom:2px #F0F0F2 solid;padding: 15px 0">
        <div class="col-md-1">路线标题</div>
        <div class="col-md-4">
            ${lineInfo.lineTitle}
        </div>
    </div>
    <div class="row lx_biaoti" style="border-bottom:2px #F0F0F2 solid;padding: 15px 0">
        <div class="col-md-12" style="padding: 10px 0">
            <div class="col-md-1">旅行天数</div>
            <div class="col-md-2">
                ${lineInfo.travelDays}
            </div>
        </div>
        <div class="col-md-12" style="padding: 10px 0">
            <div class="col-md-1">出发日期</div>
            <div class="col-md-2">
                ${lineInfo.departureDate}
            </div>
        </div>
        <div class="col-md-12" style="padding: 10px 0">
            <div class="col-md-1">路线价格</div>
            <div class="col-md-2">
                ${lineInfo.tripPrice}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1" style="line-height:150px">
            主页图片
        </div>
        <div class="col-md-10">
            <div class="xq_img">
            <% for (picUrl in lineInfo.homePics) {%>
                <img src="${picUrl}"  class='img-rounded' style='display: inline-block'>
            <% }%>
            </div>
        </div>
    </div>
    </#form:form>

    <div class="row" style="margin-left:0">
        <div class="col-md-12">
            <ul id="myTab" class="nav nav-tabs" style="margin-bottom: 10px">
                <li class="active">
                    <a href="#guide" data-toggle="tab">导游信息</a>
                </li>
                <li><a href="#route" data-toggle="tab">路线特色</a></li>
                <li><a href="#trip" data-toggle="tab">行程安排</a></li>
                <li><a href="#cost" data-toggle="tab">费用须知</a></li>
            </ul>
            <div id="myTabContent" class="tab-content" style="margin-bottom: 50px">
                <!--导游信息-->
                <div class="tab-pane fade in active" id="guide" >
                    <#form:form id="touristInfo" model="${touristInfo}">
                    <div class="homexq_touxiang">

                        <img src="${touristInfo.userImage}" alt="" >
                    </div>
                    <div class="homexq_xiangqing">
                        <div style="margin-top: 25px">
                                <span class="xq_xx">
                                    <span style="font-size: 16px">${touristInfo.nickName}</span>
                                </span>
                            <span class="xq_duigou">
                                    <i class="icon iconfont icon-duigou"></i>
                                <%if(touristInfo.idAuth == 10){%>
                                <span>身份未验证</span>
                                <%}else if(touristInfo.idAuth == 20){%>
                                <span>身份已验证</span>
                                <%}else if(touristInfo.idAuth == 30){%>
                                <span>身份验证不通过</span>
                                <%}%>
                                <%for(userLanguage in touristInfo.languages){%>
                                    <span><i class='glyphicon glyphicon-ok-circle'></i><span>${userLanguage.languageName}</span></span>
                                <% }%>
                            </span>
                        </div>
                        <div style="margin-top: 15px">
                            <span style="display:inline-block;width: 300px">昵称:<span style="color: #666666">${touristInfo.nickName}</span></span>
                            <span>性别: <span style="color: #666666">${touristInfo.sex}</span></span><br/>
                            <span style="display:inline-block;width: 300px">年龄:<span style="color: #666666">${touristInfo.age}</span></span>
                            <span>学历:<span style="color: #666666">${touristInfo.education}</span></span>
                        </div>
                        <div class="xq_gr">
                            个人标签
                        </div>
                        <%for(userLabel in touristInfo.labelOutvoList){%>
                        <div class='homexq_button'><div>${userLabel.labelName}</div></div>
                        <%}%>
                    </div>
                </#form:form>
                </div>

                <!--路线特色-->
                <div class="tab-pane route" id="route">
                    <#form:form id="lineFeature" model="${lineFeature}">
                    <p>${lineFeature.lineFeature}</p>
                </#form:form>
                </div>
                    <!--行程安排-->
                    <div class="tab-pane" id="trip">
                        <#form:form id="scheduleInfo" model="${scheduleInfo}">
                        <div class="xc_biao">
                            <p>行程安排:</p>
                        </div>
                        <%for(schedule in scheduleInfo){%>
                        <div class="panel-group" id="accordion1">
                            <!--第一天-->
                            <div class="panel panel-default" >
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                            <a href="#collapse${schedule.lineDay}" data-toggle="collapse">第${schedule.lineDay}天</a>
                                    </h4>
                                </div>
                                <div id="collapse${schedule.lineDay}" class="panel-collapse collapse">
                                    <div class="panel-body xc_kuai">
                                        <div class="xc_hang">
                                            <div class="xc_hang_1">
                                                <div class="xc_shijian">
                                                    <p>早上:</p>
                                                </div>
                                                <div class="xc_shu">
                                                    <div class="xc_shu1"></div>
                                                    <div class="xc_shu2">1</div>
                                                </div>
                                            </div>
                                            <div class="xc_hang_2">
                                                <div class="xc_huoshi">
                                                    <div>
                                                        <%for(picUrl in schedule.morning.scheduleDinnerOutVo.dinnerPics){ %>
                                                        <img src="${picUrl}"  class='img-rounded' style='display: inline-block'>;
                                                        <%}%>
                                                    </div>
                                                    <p>
                                                        早餐描述:${schedule.morning.scheduleDinnerOutVo.dinnerDesc}
                                                    </p>
                                                    <p>
                                                        早餐是否自理:<% if(schedule.morning.scheduleDinnerOutVo.dinnerIsSelf == 10){%>
                                                            自理
                                                        <%}else if(schedule.morning.scheduleDinnerOutVo.dinnerIsSelf == 20){%>
                                                            不自理
                                                        <%}%>
                                                    </p>
                                                </div>
                                                <div class="xc_huoshi" >
                                                    <div>
                                                        <%for(picUrl in schedule.morning.scheduleActivityOutVo.schedulingPics){ %>
                                                         <img src="${picUrl}"  class='img-rounded' style='display: inline-block'>
                                                        <%}%>
                                                    </div>
                                                    <p>活动地点 :${schedule.morning.scheduleActivityOutVo.schedulingAddress}</p>
                                                    <p>活动名称 :${schedule.morning.scheduleActivityOutVo.activityName}</p>
                                                    <p>活动内容 :${schedule.morning.scheduleActivityOutVo.activityDesc}</p>
                                                    <p>
                                                        是否包含导游费用 :
                                                        <%if(schedule.morning.scheduleActivityOutVo.guideCost == 10){%>
                                                        <span>包含导游费用</span>
                                                        <%}else if(schedule.morning.scheduleActivityOutVo.guideCost == 20){%>
                                                        <span>不包含导游费用</span>
                                                        <%}%>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="xc_hang">
                                            <div class="xc_hang_1">
                                                <div class="xc_shijian">
                                                    <p>中午:</p>
                                                </div>
                                                <div class="xc_shu">
                                                    <div class="xc_shu1"></div>
                                                    <div class="xc_shu2">1</div>
                                                </div>
                                            </div>
                                            <div class="xc_hang_2">
                                                <div class="xc_huoshi">
                                                    <div>
                                                        <%for(picUrl in schedule.afternoon.scheduleDinnerOutVo.dinnerPics){%>
                                                         <img src="${picUrl}"  class='img-rounded' style='display: inline-block'>
                                                        <%}%>
                                                    </div>
                                                    <p>
                                                        午餐描述:${schedule.afternoon.scheduleDinnerOutVo.dinnerDesc}
                                                    </p>
                                                    <p>
                                                        午餐是否自理:<% if(schedule.afternoon.scheduleDinnerOutVo.dinnerIsSelf == 10){%>
                                                        自理
                                                        <%}else if(schedule.afternoon.scheduleDinnerOutVo.dinnerIsSelf == 20){%>
                                                        不自理
                                                        <%}%>
                                                    </p>
                                                </div>
                                                <div class="xc_huoshi">
                                                    <div>
                                                        <%for(picUrl in schedule.afternoon.scheduleActivityOutVo.schedulingPics){%>
                                                        <img src="${picUrl}"  class='img-rounded' style='display: inline-block'>
                                                        <%}%>
                                                    </div>
                                                    <p>活动地点:${schedule.afternoon.scheduleActivityOutVo.schedulingAddress}</p>
                                                    <p>活动名称:${schedule.afternoon.scheduleActivityOutVo.activityName}</p>
                                                    <p>活动内容:${schedule.afternoon.scheduleActivityOutVo.activityDesc}</p>
                                                    <p>
                                                        是否包含导游费用 :
                                                        <%if(schedule.afternoon.scheduleActivityOutVo.guideCost == 10){%>
                                                        <span>包含导游费用</span>
                                                        <%}else if(schedule.afternoon.scheduleActivityOutVo.guideCost == 20){%>
                                                        <span>不包含导游费用</span>
                                                        <%}%>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="xc_hang">
                                            <div class="xc_hang_1">
                                                <div class="xc_shijian">
                                                    <p>晚上:</p>
                                                </div>
                                                <div class="xc_shu">
                                                    <div class="xc_shu1"></div>
                                                    <div class="xc_shu2">1</div>
                                                </div>
                                            </div>
                                            <div class="xc_hang_2">
                                                <div class="xc_huoshi">
                                                    <div>
                                                        <%for(picUrl in schedule.night.scheduleDinnerOutVo.dinnerPics){%>
                                                        <img src="${picUrl}"  class='img-rounded' style='display: inline-block'>
                                                        <%}%>
                                                    </div>
                                                    <p>
                                                        晚餐:${schedule.night.scheduleDinnerOutVo.dinnerDesc}
                                                    </p>
                                                    <p>
                                                        晚餐是否自理:<% if(schedule.night.scheduleDinnerOutVo.dinnerIsSelf == 10){%>
                                                        自理
                                                        <%}else if(schedule.night.scheduleDinnerOutVo.dinnerIsSelf == 20){%>
                                                        不自理
                                                        <%}%>
                                                    </p>
                                                </div>
                                                <div class="xc_huoshi">
                                                    <div>
                                                        <%for(picUrl in schedule.night.scheduleActivityOutVo.schedulingPics){%>
                                                        <img src="${picUrl}"  class='img-rounded' style='display: inline-block'>
                                                        <%}%>
                                                    </div>
                                                    <p>活动地点:${schedule.night.scheduleActivityOutVo.schedulingAddress}</p>
                                                    <p>活动名称:${schedule.night.scheduleActivityOutVo.activityName}</p>
                                                    <p>活动内容:${schedule.night.scheduleActivityOutVo.activityDesc}</p>
                                                    <p>
                                                        是否包含导游费用 :
                                                        <%if(schedule.night.scheduleActivityOutVo.guideCost == 10){%>
                                                        <span>包含导游费用</span>
                                                        <%}else if(schedule.night.scheduleActivityOutVo.guideCost == 20){%>
                                                        <span>不包含导游费用</span>
                                                        <%}%>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="xc_hang">
                                            <div class="xc_hang_1">
                                                <div class="xc_shijian">
                                                    <p>住宿:</p>
                                                </div>
                                                <div class="xc_shu">
                                                    <div class="xc_shu1"></div>
                                                    <div class="xc_shu2">1</div>
                                                </div>
                                            </div>
                                            <div class="xc_hang_2">
                                                <div class="xc_huoshi">
                                                    <div>
                                                        <%for(picUrl in schedule.stay.stayPics){%>
                                                        <img src="${picUrl}"  class='img-rounded' style='display: inline-block'>
                                                        <%}%>
                                                    </div>
                                                    <p>
                                                        住宿类型:
                                                        <%if(schedule.stay.stayType == 10){%>
                                                        <span>酒店</span>
                                                        <%}else if(schedule.stay.stayType == 20){%>
                                                        <span>名宿</span>
                                                        <%} else if(schedule.stay.stayType == 30){%>
                                                        <span>青旅</span>
                                                        <%}%>
                                                    </p>
                                                    <p>
                                                        住宿地址:${schedule.stay.stayAddress}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <p style="float: right;margin-right:15px">行程交通:${schedule.traffic.trafficDesc}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%}%>
                    </#form:form>
                    </div>

                <!--费用须知-->
                <div class="tab-pane homexq_fy" id="cost">
                    <#form:form id="lineCost" model="${lineCost}">
                    <div>费用包含:</div>
                    <p>${lineCost.costInclude}</p>
                    <div>行程规则:</div>
                    <p>${lineCost.tripRule}</p>
                    <div>退款说明:</div>
                    <p>${lineCost.refundInstruction}</p>
                </#form:form>
                </div>

         </div>
        </div>
    </div>
</div>

<% } %>
<style>
    .row{
        margin-left: 15px;
    }
    .xq_img{
        width: 100%;
        display: inline-block;

    }
    .xq_img img{
        width: 240px;
        height: 120px;
        margin: 5px;
    }
    .homexq_touxiang{
        float: left;
        width: 100px;
        height: 200px;
        text-align: center;
    }
    .homexq_touxiang img{
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 50%;
        margin-top: 15px;
    }
    .homexq_xiangqing{
        float: left;
    }
    .homexq_xiangqing div:nth-child(2){
        line-height: 30px;
    }
    .xq_xx{
        display:inline-block;width: 300px
    }
    .xq_gr{
        margin-top: 10px;
        font-weight: bold;
        font-size: 14px;
    }
    .homexq_button div{
        padding: 3px 5px;
        margin-top: 5px;
        display:inline-block;
        border: 1px #99DDF8 solid;
        font-size: 15px;
        color:#585858;
        border-radius: 10px;
        text-align: center;
    }
    .homexq_button div:nth-child(1){
        display:inline-block;
        border: 1px #99DDF8 solid;
        font-size: 15px;
        color:#585858;
    }
    . route p:nth-child(1){
        font-weight: bold;
        text-align: center;
        font-size: 20px;
        margin-top: 30px;
        letter-spacing: 2px;
        margin-bottom: 50px;
    }
    .route p:nth-child(2){
        margin-top: 30px;
        color: #585858;
    }
    .route p:nth-child(2) span:nth-child(1){
        font-weight: bold;
        color: #333333;
    }
    .route p:nth-child(3){
        margin-top: 30px;
        color: #585858;
    }
    .route p:nth-child(3) span:nth-child(1){
        font-weight: bold;
        color: #333333;
    }
    .xc_kuai{width: 100%;}
    .xc_hang{
        width: 100%;
        min-width:800px;
        margin-bottom:10px;
        display: flex;
    }
    .xc_hang .xc_hang_1{
        float: left; width:8%;
    }
    .xc_hang .xc_hang_2{
        width: 88%;
    }
    .xc_shijian{
        float: left;
        width:50px;
        height: 120px;
        line-height: 120px;
    }
    .xc_shu{
        float: left;
        height: 120px;
        position:relative;
    }
    .xc_shu1{
        width: 2px;
        background: #D8D8D8;
        height: 120px;

    }
    .xc_shu2{
        width: 18px;
        height: 18px;
        background: #37BBFE;
        color: white;
        border-radius: 15px;
        text-align: center;
        line-height: 18px;
        position: absolute;
        top: 51px;
        left:-8px;

    }
    .xc_huoshi{
        width:100%;
        margin-left:40px;
        margin-top: 10px;
    }
    .xc_huoshi div img{
        width: 100px;
        margin-right: 30px;
    }
    .xc_huoshi p{
        margin-top: 10px;
    }
    .xc_biao{
        width: 100%;height: 30px;
        line-height: 30px;
        overflow: hidden;
        clear: both;

    }
    .xc_biao p{
        float: left;
        font-weight: bold;
        font-size: 20px;
    }
    .xc_biao div{
        float: right;
        font-size: 15px;
        color: #666666;
    }

    .homexq_fy div{
        color: #666666;
        font-weight: bold;
        margin-top: 30px;
        font-size: 18px;
    }
    .homexq_fy p{
        margin-top: 10px;
    }

</style>
