<% layout('/layouts/default.html', {title: '答案管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('数据管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="${ctx}/answer/form" class="btn btn-default btnTool" title="${text('新增答案')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${answer}" action="${ctx}/answer/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
			</#form:form>			
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("answerCode")}', name:'answerCode', width:200, align:"center", hidden:true},
		{header:'${text("问题kid")}', name:'questionKid', width:200, align:"center", hidden:true},
		{header:'${text("问题名称")}', name:'questionName', width:200, align:"center", formatter: function (val, obj, row, act) {
                if(val.length > 50){
                    return "<span title='" + val + "'>" + val.substring(0,50) + "...</span>";
                }else{
                    return "<span title='" + val + "'>" + val + "</span>";
                }
            }},
		{header:'${text("答案")}', name:'answer', width:200, align:"center", formatter: function (val, obj, row, act) {
                if(val.length > 50){
                    return "<span title='" + val + "'>" + val.substring(0,50) + "...</span>";
                }else{
                    return "<span title='" + val + "'>" + val + "</span>";
                }
            }},
        {header:'${text("操作")}', name:'actions', width:50,  align: "center",sortable:false, title:false, formatter: function(val, obj, row, act){
                var actions = [];
                actions.push('<a href="${ctx}/answer/updateForm?answerCode='+row.answerCode+'" class="btnList" title="${text("编辑数据")}"><i class="fa fa-pencil"></i></a>&nbsp;');
                actions.push('<a href="${ctx}/answer/delete?answerCode='+row.answerCode+'" class="btnList" title="${text("删除数据")}" data-confirm="${text("确认要删除该数据吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
                return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>