<% layout('/layouts/default.html', {title: '数据管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('数据管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" action="${ctx}/form/listData" method="post" class="form-inline hide"
			data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
			<div class="form-group">
				<label class="control-label">${text('工单状态')}：</label>
				<div class="control-inline" style="width: 150px;">
					<#form:select path="status" dictType="workorder_status" blankOption="true" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
				<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
			</div>

		</#form:form>
		<table id="dataGrid"></table>
		<div id="dataGridPage"></div>
	</div>
</div>
</div>
<% } %>
<script>
	var formkid;
    // 初始化DataGrid对象
    $('#dataGrid').dataGrid({
        columnModel: [
            {header:'${text("工单编号")}', name:'kid', width:100, align:"center", formatter: function (val, obj, row, act) {
                    return "<a style='text-decoration: none;' href='${ctx}/form/form?kid="+row.kid+"'>" + val + "</a>";
                }},
            {header:'${text("用户kid")}', name:'userKid', width:100, align:"center", hidden:true},
            {header:'${text("用户昵称")}', name:'nickname', width:100, align:"center"},
            {header:'${text("分类kid")}', name:'categoryKid', width:100, align:"center", hidden:true},
            {header:'${text("分类名称")}', name:'categoryName', width:100, align:"center"},
            {header:'${text("工单状态")}', name:'status', width:80, align:"center", formatter: function (val, obj, row, act) {
                    if(val == 10){
                        return "<span title='待处理' style='color: black;'>待处理</span>";
                    }else if(val == 20){
                        return "<span title='处理中' style = 'color: green;'>处理中</span>";
                    }else if(val == 30){
                        return "<span title='已完成' style='color: gray;'>已完成</span>";
                    }
                }},
            {header:'${text("问题描述")}', name:'questionDesc', width:200, align:"center", formatter: function (val, obj, row, act) {
                    if(val.length > 30){
                        return "<span title='" + val + "'>" + val.substring(0,30) + "...</span>";
                    }else{
                        return "<span title='" + val + "'>" + val + "</span>";
                    }
                }},
            {header:'${text("发布时间")}', name:'createTime', width:100, align:"center"}
            /*{
                header:'${text("操作")}', name:'actions', width:50,  align: "center",sortable:false, title:false, formatter: function(val, obj, row, act){
					return "<a href='javascript:void(0);' onclick='showFile(\""+row.kid+"\");'title='${text('查看附件')}'><i class='fa fa-eye'></i></a>" +"&nbsp;&nbsp;&nbsp;"
					+ "<a href='javascript:void(0);' onclick='openDealWindow(\""+row.kid+"\");' title='${text('完成处理')}'><i class='fa fa-pencil'></i></a>"
                }}*/
        ],
    });
</script>