<% layout('/layouts/default.html', {title: '数据管理', libs: ['dataGrid']}){ %>
<div class="main-content">
    <div class="box box-main">
        <div class="box-header">
            <div class="box-title">
                <i class="fa fa-list-alt"></i> ${text('数据管理')}
            </div>
            <div class="box-tools pull-right">
                <a href="${ctx}/question/form" class="btn btn-default btnTool" title="${text('新增')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
            </div>
        </div>
        <div class="box-body">
            <div class="three_tree">
                <div class="tree_title_cut">
                    <span>问题名称</span>
                    <span>问题顺序</span>
                    <span>最后一级</span>
                    <span>操作</span>
                </div>
                <div class="list_group_li click_add_on">
                </div>
            </div>
        <table id="dataGrid"></table>
        <div id="dataGridPage"></div>
    </div>
</div>
    <% } %>
<style type="text/css">
    .two{display:none;}
    .three_tree{margin:20px;border:1px solid #ccc;}
    .three_tree .tree_title_cut{width:100%;background-color:#f2f2f2;font-size:0;padding:8px 0;border-bottom:1px solid #ccc;}
    .three_tree .tree_title_cut span{width:24%;display:inline-block;font-size:14px;}
    .three_tree .tree_title_cut span:first-child{text-align:left;padding-left:20px;}
    .list_group_li .list{width:100%;font-size:0;padding:8px 0;}
    .list_group_li .list.on{background-color:rgba(0,0,0,.075);}
    .list_group_li .list:hover{background-color:rgba(0,0,0,.035);}
    .list_group_li .list.on:hover{background-color:rgba(0,0,0,.075);}
    .list_group_li .list span{width:24%;font-size:14px;display:inline-block;}
    .list_group_li .list span:first-child{text-align:left;padding-left:20px;}
    .list_group_li .two{margin-left:15px;position:relative;}
    .list_group_li >.two{margin-left:0;display:block;}
    .list_group_li .list_box{position:relative;display:block;margin-left:0;}
    .arrow_three{position:absolute;left:10px;top:12px;display:inline-block;width:0px;height:0px;border-top:5px solid transparent;border-right:5px solid  transparent;border-bottom:5px solid transparent;border-left:5px solid  #666;cursor:pointer;transition:0.1s;}
    .arrow_three.on{transform:rotate(90deg);top:14px;left:6px;transition:0.1s;}
    .arrow_three:hover{border-left:5px solid  #000;}
    .button_a{padding-right: 20px;text-decoration: none;color: #3c8dbc;}
</style>
<script src="${ctxStatic}/jquery/jquery-1.12.4.min.js"></script>
<script>

    function threeTree(array,html,show) {
        for (var i = 0; i < array.length; i++) {
            var object = array[i];
            if (object.children != "") {
                var e = $('<div class="two"><i class="toggleOn arrow_three"></i></div>');
                var f = $('<div class="list"><span>'+object.questionName+'</span><span>'+object.questionOrder+'</span><span>'+(object.isLastLevel ? "是" : "否")+'</span>' +
                    '<span><a href="${ctx}/question/form?parentKid='+object.kid+'&parentQuestionName='+object.questionName+'" class="btnList" title="${text("新增下级")}"><i class="fa fa-plus-square"></i></a>&nbsp;&nbsp;&nbsp;' +
                    '<a href="${ctx}/question/form?parentKid='+object.parentKid+'&parentQuestionName='+object.parentQuestionName+'&kid='+object.kid+'&questionName='+object.questionName+'&questionOrder='+object.questionOrder+'" class="btnList" title="${text("修改")}"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;&nbsp;' +
                    '<a href="javascript:void(0);" onclick="deleteQuestion(\''+object.kid+'\');" class="btnList" title="${text("删除")}"><i class="fa fa-trash-o"></i></a>' +
                    '</span></div>');
                e.append(f);
                html.append(e);
                threeTree(object.children,e,show);
            } else {
                html.append('<div class="two"><div class="list"><span>'+object.questionName+'</span><span>'+object.questionOrder+'</span><span>'+(object.isLastLevel ? "是" : "否")+'</span>' +
                    '<span><a href="${ctx}/question/form?parentKid='+object.kid+'&parentQuestionName='+object.questionName+'" class="btnList" title="${text("新增下级")}"><i class="fa fa-plus-square"></i></a>&nbsp;&nbsp;&nbsp;' +
                    '<a href="${ctx}/question/form?parentKid='+object.parentKid+'&parentQuestionName='+object.parentQuestionName+'&kid='+object.kid+'&questionName='+object.questionName+'&questionOrder='+object.questionOrder+'" class="btnList" title="${text("修改")}"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;&nbsp;' +
                    '<a href="javascript:void(0);" onclick="deleteQuestion(\''+object.kid+'\');" class="btnList" title="${text("删除")}"><i class="fa fa-trash-o"></i></a>' +
                    '</span></div></div>');
            }
        }
        // 是否展示全部
        if (show) {
            html.find(".two").addClass('show').find(".arrow_three").addClass("on");
        }
    }

    $(function(){
        // 多级树 点击添加类名on
        $(document).on('click', '.click_add_on .list', function() {
            $(this).parents(".click_add_on").find(".list").removeClass("on");
            $(this).addClass("on");
        });
        // 多级树 toggle
        $(document).on('click', '.click_add_on .arrow_three', function() {
            if ($(this).hasClass("on")) {
                $(this).removeClass("on").siblings(".two").hide();
            }else{
                $(this).addClass("on").siblings(".two").show();
            }
        });

        $.ajax({
            url : "${ctx}/question/queryTreeQuestion",
            type : "get",
            dataType : "json",
            async : false,
            success : function(data) {
                //console.log(data.data);
                threeTree(data,$(".list_group_li"),false);
            },
            error : function(){
                js.showMessage("操作失败！");
            }
        });

    });


    function deleteQuestion(kid) {
        js.confirm("确认要删除该数据及所有子数据吗？",function () {
            if(kid == "" || kid == null){
                js.showMessage("kid不能为空！");
            }else{
                $.ajax({
                    url : "${ctx}/question/deleteQuestion?kid="+kid,
                    type : "post",
                    dataType : "json",
                    async : false,
                    success : function(data) {
                        if(data.result == "success"){
                            js.showMessage("删除成功！");
                            location.reload(true);
                        }else if(data.result == "failed"){
                            js.showMessage("删除失败！");
                        }
                    },
                    error : function(){
                        js.showMessage("操作失败！");
                    }
                });
            }

        });
    }
</script>
